.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}


/* Tablet and Smaller Desktop */
@media (max-width: 350px) {
  .main {
    background-color: green;
  }
}